.grid-pane {
    -fx-background-image: url("/images/background-simple.png");
}

.search-patients-text-field {
    -fx-background-color: #fdffff;
}

.patients-list-view {
    -fx-background-color: #fdffff;
}
.list-cell {
    -fx-pref-height: 50px;
    -fx-font-size: 14px;
}